html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* */

body {
	background-color:#000;
	font-family: 'Roboto', sans-serif;
	color:white;
	background-image:url("./img/dark_geometric.png");
}

a {
	color:white;
	text-decoration:none;
}

#header {
	padding:100px;
	border-bottom:4px solid #303030;
	background-color:#0;
	margin-bottom:60px;
	background-image:url("./img/header.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 35%;
	text-shadow:2px 1px 1px black;
}

#header-content {
	/*
	padding:20px;
	margin:0 auto;
	cursor:default;
	background-image:url("./img/dark_geometric.png");
	border:2px solid white;
	*/
}

#header #logo {
	text-align:center;
	font-size:60px;
	text-transform:uppercase;
	margin-bottom:10px;
	font-family: 'Staatliches', sans-serif;
	text-shadow:2px 2px 2px #2361c4;
	border:2px solid #545454;
	display:block;
	margin:0 auto;
	margin-bottom:40px;
	transition:.2s all;
}

#header-content p {
	padding:20px;
	margin:0 auto;
	cursor:default;
	background-image:url("./img/dark_geometric.png");
	border:2px solid white;
}

#header #logo:hover {
	border-color:white;
}

#header p {
	font-size:18px;
}

#nav {
	display:flex;
	flex-direction:column;
	max-width:320px;
	margin:0 auto;
}

.wrap {
	width:50%;
	min-width:320px;
	max-width:720px;
	margin:0 auto;
}

#nav a {
	display:inline-block;
	padding:16px;
	margin-right:10px;
	text-align:center;
	border:4px solid transparent;
	border-radius:2px;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:16px;
	transition:.2s border-radius cubic-bezier(0.175, 0.885, 0.32, 3.275), .2s background-color ease-in-out;
	margin-bottom:10px;
}

#nav a:hover {
	border-color:white;
	background-color:#2361c4;
	border-radius:20px;
}